# 1. Título

Solicitações de Compra UFV

# 2. Membros (nome e número de matrícula)

Breno Camilo Silva - 2022107610
Caio Cordeiro Fabri - 2023027939
Marcelo Henrique Pereira Oliveira e Silva - 2022037493
Mateus Silva Jesué - 2023099182

# 3. Descrição dos dados (qual a URL? qual o domínio? como os dados foram processados?)

# 4. Diagrama ER

# 5. Diagrama relacional

Solicitacao (NumeroSolicitacao ,TipoTramitacao, StatusSolicitacao DataStatusSolicitacao, OrgaoSolicitante, OrgaoInteressado, LocalEntrega NumeroProcesso, DataSolicitacao, CelulaOrcamentariaID)
OrgaoSolicitante REFERENCIA Orgao.Sigla
OrgaoInteressado REFERENCIA Orgao.Sigla
NumeroProcesso REFERENCIA Processo.NumProcesso

Orgao(Sigla, Nome, Campus)

	Item(NumItem, CodigoCatMat) 
CodigoCatMat REFERENCIA Catalogo.CodigoCatMat

	Catálogo: (CodigoCatMat, Descricao)

	Solicitacao_item (NumeroSolicitacao, NumItem, StatusItem, QtdSolicitada QtdAtual, ItemStatus)
NumeroSolicitacao REFERENCIA Solicitacao.NumeroSolicitacao
NumItem REFERENCIA Item.NumItem

Processo(NumProcesso, QtdProcesso, QtdCotada, ValorTotal)

# 6. Consultas

In [2]:
import io
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('solicitacoes_compras_simplus.db')
cursor = conn.cursor()
cursor.execute("PRAGMA foreign_keys = 0;")

f = io.open('solicitacoes_compras_simplus.sql', 'r', encoding='utf-8')
sql = f.read()
cursor.executescript(sql)

## 6.1 Duas consultas envolvendo seleção e projeção

### 6.1.1 Consulta 1
Quais os números das solicitações (NumeroSolicitacao) que colocaram como local de entrega o "ACE - Almoxarifado Central" ?

In [10]:
query = """
SELECT NumeroSolicitacao
FROM solicitacoes_compras
WHERE LocalEntrega = 'ACE - Almoxarifado Central';
"""

df = pd.read_sql_query(query, conn)
df

    NumeroSolicitacao
0                 347
1                 347
2                 347
3                 347
4                 347
5                 347
6                 347
7                 477
8                 347
9                 347
10                347
11                347
12                 12
13                 12
14                385
15                385
16                385
17                385
18                385
19                 22
20                 22
21                 29
22                 29
23                 29
24                 29
25                 92
26                437
27                221
28                 93
29                115
30                153
31                153
32                 29
33                153
34                437
35                115
36                115
37                482
38                 29
39                385

### 6.1.2 Consulta 2
Quais os nomes dos solicitantes cuja solicitação foi cancelada? (StatusSolicitacao = Cancelado)

In [9]:
query = """
SELECT NomeSolicitante
FROM solicitacoes_compras
WHERE StatusSolicitacao = 'Cancelado';
"""

df = pd.read_sql_query(query, conn)
df

                           NomeSolicitante
0                 RICARDO MARTINS OLIVEIRA
1                           EMERSON GUERRA
2                           EMERSON GUERRA
3                 RICARDO MARTINS OLIVEIRA
4                PATRICIA QUEIROZ NOGUEIRA
..                                     ...
112  ADRIANA MARCELINA LOPES DIAS DE PAULA
113      MARIA CRISTINA DA CUNHA MAGALHÃES
114                  ROGERIO DUARTE TORRES
115                 JANSEN CARDOSO PEREIRA
116                 JANSEN CARDOSO PEREIRA

[117 rows x 1 columns]

## 6.2 Três consultas envolvendo junção de duas relações

### 6.2.1 Consulta 3
Quais as solicitações do Rodrigo Moreira com status "Cancelada"?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

### 6.2.2 Consulta 4
Qual o ID do Item, cuja descrição no CatMat é "MANUTENCAO DE VEICULOS LEVES / PESADOS"?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

### 6.2.3 Consulta 5
Quais os itens cuja quantidade solicitada foi maior ou igual a 20.000.000?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

## 6.3 Três consultas envolvendo junção de três ou mais relações

### 6.3.1 Consulta 6
Quais os números das solicitações cujo item solicitado possui a descrição "FORNECIMENTO DE REFEICOES / LANCHES / SALGADOS / DOCES"?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

### 6.3.2 Consulta 7
Qual a descrição dos produtos da solicitação de número 1971?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

### 6.3.3 Consulta 8
Qual o maior "ValorTotal" de um processo cuja solicitação foi feita por um órgão do campus "Florestal"?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

## 6.4 Duas consultas envolvendo agregação sobre junção de duas ou mais relações

### 6.4.1 Consulta 9
Quantas solicitações foram feitas para o campus "Florestal"?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

### 6.4.2 Consulta 10
Quantas solicitações foram feitas pelo solicitante "JAIRO TRONTO"?

In [ ]:
query = """

"""

df = pd.read_sql_query(query, conn)
df

# 7. Autoavaliação dos membros